@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


agm-map {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.checkbox {
    margin-left: 4px;

}
.radio {
    padding: 0px 0px 0px 22px;

}