<ng-template #newFeedbackContent let-c="close" let-d="dismiss">
  <div class="modal-header" style="text-align: center">
    <h4 class="modal-title pull-left" style="padding-left: 0px;" (click)="back()"><i class="fa fa-reply" aria-hidden="true" ></i>&nbsp;Új vélemény</h4>
	<div class="modal-title pull-right">
	<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
	</div>
  </div>
  <div class="modal-body">
		<label for="phone">Szállás neve:</label>
		<input type="text" class="form-control" placeholder="{{feedbackID.name}}" readonly >
		<label for="name" *ngIf="!nameError">Felhasználó név:</label>
		<label for="name" *ngIf="nameError" style="color: #f00">Felhasználó név: Ez a mező kötelező!</label>
		<input type="text" class="form-control" [(ngModel)]="name">
		<label>Látogatás időpontja:</label>
		<div class="input-group">
      <input class="form-control" placeholder="év-hónap-nap"
             name="dp" [(ngModel)]="visitDate" ngbDatepicker #date="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-dark" (click)="date.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true">&nbsp;</i></button>
      </div>
    </div>
		<label for="ertekeles" *ngIf="!feedbackTypeError">Értékelés: {{feedbackType}}</label>
		<label for="ertekeles" *ngIf="feedbackTypeError" style="color: #f00">Értékelés: Ez a mező kötelező!</label>
		<div class="btn-group btn-group-toggle btn-block" ngbRadioGroup name="radioBasic" [(ngModel)]="feedbackType">
		  <label ngbButtonLabel class="btn-primary btn-success" style="width:33%">
			<input ngbButton type="radio" value="Pozitív"><i class="fa fa-heart" aria-hidden="true">&nbsp;</i>Pozitív
		  </label>
		  <label ngbButtonLabel class="btn-primary" style="width:33%">
			<input ngbButton type="radio" value="Semleges"><i class="fa fa-info-circle" aria-hidden="true">&nbsp;</i>Semleges
		  </label>
		  <label ngbButtonLabel class="btn-primary btn-danger" style="width:33%">
			<input ngbButton type="radio" value="Negatív"><i class="fa fa-thumbs-down" aria-hidden="true">&nbsp;</i>Negatív
		  </label>
		</div>
		<label for="feedbackText" *ngIf="!feedbackTextError">Vélemény:</label>
		<label for="feedbackText" *ngIf="feedbackTextError" style="color: #f00">Vélemény: Ez a mező kötelező!</label>
		<textarea class="form-control" rows="4" [(ngModel)]="feedbackText"></textarea>
  </div>
  <div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="newFeedbackSend()">Elküldés</button>
  </div>
</ng-template>
